@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: overlay;
}
* {
  box-sizing: border-box;
  font-family: IRANSansX !important;
  list-style-type: none;
  text-decoration: none;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

a {
  outline: none;
  text-decoration: none;
}
.header-shadow {
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 5%) 0px 2px 8px -2px;
}
.foodcarts_P {
  -webkit-box-flex: initial;
  flex-grow: initial;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  min-width: initial;
}
.foodcats {
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 1.5rem;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(58, 61, 66, 0.06);
  cursor: pointer;
  color: rgb(58, 61, 66);
  padding: 0rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 5%) 0px 2px 8px -2px;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

}
.mainShadow{
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  border: 0.09375rem solid rgba(0, 133, 66, 0.06);
}
.bg-gray-100 {
  --tw-bg-opacity: 0.5 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: #b5ddf0;
  }
  50% {
    background-color: #cfe9f6;
  }
  100% {
    transform: scale(1);
    background-color: #ffffff;
  }
}
.btn {
  align-items: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-flex;

  justify-content: center;
  min-width: 90px;
}
.btn.btn--loading {
  font-size: 0;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.btn.btn--loading span {
  display: flex;
}
.btn.btn--loading span b {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: stretch;
  animation-play-state: running;
  animation-timing-function: ease-out;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
  animation-delay: 0.1s;
  margin: 0 5px;
}
.btn.btn--loading span b:first-child {
  animation-delay: 0s;
  margin: 0;
}
.btn.btn--loading span b:last-child {
  animation-delay: 0.2s;
  margin: 0;
}
.btn b {
  font-weight: normal;
}
.btn span {
  display: none;
}
.text-scale-animation{
  animation: crescendo 0.5s alternate infinite ease-in;
}
@keyframes crescendo {
  0%   {font-weight: 200;}
  100% {font-weight: 900;}
}